* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-image: linear-gradient(109.6deg, rgba(112, 246, 255, 0.33) 11.2%, rgba(221, 108, 241, 0.26) 42%, rgba(229, 106, 253, 0.71) 71.5%, rgba(123, 183, 253, 1) 100.2%);
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 98vh;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}